.header {
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    background-color: #131921;
    top: 0;
    z-index: 100;
}

.Header-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.SearchBarinput {
    height: 12px;
    padding: 10px;
    width: 100%;
    border: none;
}

.SearchBar {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.Header-nav {
    display: flex;
    justify-content: space-evenly;
}

.header-option-lineone {
    font-size: 10px;
}

.header-option-linetw {
    font-size: 13px;
    font-weight: 800;
}

.header-optionBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.header-option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}